page-gachapong {
    
    .coin-row{
        text-align: center;
    }

    .exchange-row{
        align-self: center;
    }

    .coin{
        height:15px;
        width:15px;
        margin-right: 10px;    
    }
}
