page-register {
    .main-regis{
        background-image: url('../../assets/image/background/homebg.png');
        background-size: cover;
        background-position: center;
        text-align: center;
    }
}

.regis-button1{
    position: absolute;
    top: 67%;
    left: 50%;
    transform:translate(-50%,0%);
}

.regis-button2{
    position: absolute;
    top: 75%;
    left: 50%;
    transform:translate(-50%,0%);
}

.regis-button3{
    position: absolute;
    top: 83%;
    left: 50%;
    transform:translate(-50%,0%);
}