.main-content {
    text-align: center;
}

.start-button{
    position: absolute;
    top: 85%;
    left: 50%;
    transform:translate(-50%,0%);
    color: black;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
}



page-home {
 
    .main-content {
        background-image: url('../../assets/image/background/homebg.png');
        background-size: cover;
        background-position: center; 
    }
}

