.main-content {
    text-align: center;
}

.start-button{
    position: absolute;
    top: 85%;
    left: 50%;
    transform:translate(-50%,0%);
}

page-home {
 
    .main-content {
        background-image: url('../../assets/image/background/mainbg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;    
    }
}

